<h1>Welcome to the Home Propositions digital dashboard!</h1>

<p>Coming soon :)</p>

<div>
  <p>Our branded keyword search results are:</p>

      <h5>Term here:<a id="keywords"></a></h5>


      <% @keywords.each do |keyword| %>
        <li><%= keyword.name %></li>
      <% end %>
</div>
