<h1>This will be a list of all our keywords</h1>
    <div class="col-lg-12 mt-5">
      <% if flash[:alert] %>
        <div class="alert alert-warning"><%= flash[:alert] %></div>
      <% end %>
      <div class="mx-auto mt-5" style="width: 400px">



<div id="keywords">
  Keyword1
  Keyword2
  <% @keywords.each do |keyword| %>
    <li><%= keyword.name %></li>
  <% end %>
</div>


