<div class="banner" style="">
  <div class="container">
    <h1>Home Propositions <strong>Dashboard</strong></h1>
    <p>Digital Progress and Metrics for Nationwide Building Society</p>
    <a class="btn btn-flat" href="#">View Keywords</a>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Landlord Lifeguard
        </div>
      </div>
      <div class="col-md-6">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Landlord Finance
        </div>
      </div>
    </div>
</div>


<div class="container">
  <h1>This will be a list of all our keywords</h1>

<div>
  <p>Our branded keyword search results are:</p>
    <ul id="keywords"></ul>
</div>

</div>
